@{
  Layout = "_Layout";
}
<h2>Cuisines:</h2>

@if(@Model.Count == 0)
{
  <h3>There are currently no cuisines added to the list! Add a new cuisine by clicking on the button below.</h3>
}
else
{
  <div class="well">
   <ul>
    @foreach(var cuisine in @Model)
    {
      <li><a href="/restaurants/cuisines/@cuisine.GetId()">@cuisine.GetName() from the @cuisine.GetRegion() region.</a></li>
    }
   </ul>
  </div>
}
<button class="btn btn-default"><a href="/cuisines/add">Add Cuisine</a></button>
<button class="btn btn-default"><a href="/">Home</a></button>
<button class="btn btn-default"><a href="/restaurants">View All Restaurants</a></button>
