@{
  Layout = "_Layout";
}
<h2>Add a Cuisine here</h2>

<form action="/cuisines/add" method="post">
  <label for="cuisine_name">Cuisine Type:</label>
  <input type="text" name="cuisine_name" id="cuisine_name">

  <label for="cuisine_region">Region of Cuisine:</label>
  <input type="text" name="cuisine_region" id="cuisine_region">

  <button class="btn btn-default" type="submit">Submit</button>
</form>
<button class="btn btn-default"><a href="/">Home</a></button>
