<h2>Cuisine Form</h2>

<form action="/cuisines" method="post">
  <label for="cuisine-name">Cuisine Type:</label>
  <input type="text" name="cuisine-name" id="cuisine-name">

  <label for="cuisine-region">Region of Cuisine:</label>
  <input type="text" name="cuisine-region" id="cuisine-region">

  <button type="submit">Submit</button>
</form>
