@{
  Layout = "_Layout";
}
<div class="row">
  <div class="col-md-4">
    <button class="btn btn-default" id="viewbtn"><a href="/cuisines">View Cuisines</a></button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-default" id="viewbtn"><a href="/restaurants">View Restaurants</a></button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-default" id="cuisinebtn"><a href="/cuisines/add">Add New Cuisine</a></button>
  </div>
</div>
