@{
  Layout = "_Layout";
}
  <div class="row">
	<div class="col-md-4">
	<button class="btn btn-default" id="viewcuisinebtn1"><a href="/cuisines">View Cuisines</a></button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-default" id="viewrestaurantbtn1"><a href="/restaurants/all">View Restaurants</a></button>
  </div>
  </div>
  <div class="row">
  <div class="col-md-4">
    <button class="btn btn-default" id="cuisinebtn1"><a href="/cuisines/add">Add New Cuisine</a></button>
  </div>
  </div>
