@{
  Layout = "_Layout";
}
<h2>Add a Restaurant here</h2>
<form action="/restaurants/cuisines/@Model.GetId()" method="post">
  <div class="form-group">
    <label for="restaurant_name">Enter Restaurant Name</label>
    <input name="restaurant_name" type="text" id="restaurant_name">
  </div>

  <div class="form-group">
    <label for="restaurant_address">Enter Restaurant Address</label>
    <input name="restaurant_address" type="text" id="restaurant_address">
  </div>

  <div class="form-group">
    <label for="restaurant_pricey">Enter Restaurant Price Range</label>
    <input name="restaurant_pricey" type="text" id="restaurant_pricey">
  </div>

  <button class="btn btn-default" id="addrestaurant5" type="submit">Add Restaurant</button>
</form>
<button class="btn btn-default" id="homebtn5"><a href="/">Home</a></button>
