@{
  Layout = "_Layout";
}
<h2>All Restaurants:</h2>

@if (@Model["restaurants"].Count == 0)
{
  <h3>No Restaurants have been added yet! Please view the cuisines if you wish to add a restaurant.</h3>
}
else
{
  <ul>
  @foreach(var restaurant in @Model["restaurants"])
  {
    <li><a href="restaurants/@restaurant.GetId()/detail">@restaurant.GetName()</a></li>
  }
  </ul>
}

<button class="btn btn-default" id="viewcuisinebtn3"><a href="/cuisines">View Cuisines</a></button>
<button class="btn btn-default" id="homebtn3"><a href="/">Home</a></button>
