@{
  Layout = "_Layout";
}
<h2>All Restaurants:</h2>
<div class="well">
@if (@Model.Count == 0)
{
  <h3>No Restaurants have been added yet! Please view the cuisines if you wish to add a restaurant.</h3>
}
else
{
  <div class="row">
    <div class="col-md-6">
      <h3>Name:</h3>
    </div>
    <div class="col-md-3">
      <h3 class="cuisine-names">Cuisine Type:</h3>
    </div>
    <div class="col-md-3">
      <h3>Average Review:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="restaurant-names">
      @foreach(var rest in @Model)
      {
        <li class="restaurant-sort">
		
		<div class="col-md-4"><a href='restaurants/@rest.Item1.GetId()/cuisines/@rest.Item1.GetCuisineId()'>@rest.Item1.GetName()</a>
		</div>
		<div class="col-md-4">
		@rest.Item3.GetName()
		</div>
		<div class="col-md-4">
		@rest.Item2
		</div>
		</li>
      }
      </ul>
    </div>
  </div>
}

</div>

<button class="btn btn-default" id="addcuisinebtn2"><a href="/restaurants/delete">Delete All Restaurants</a></button>
<button class="btn btn-default" id="viewcuisinebtn3"><a href="/cuisines">View Cuisines</a></button>
<button class="btn btn-default" id="homebtn3"><a href="/">Home</a></button>
