@{
  Layout = "_Layout";
}
<h2>Add A Review</h2>
<form action='/restaurants/@Model["restaurants"].GetId()/cuisines/@Model["cuisines"].GetId()' method="post">
  <div class="form-group">
    <label for="review_name">Enter Your Name:</label>
    <input name="review_name" type="text" id="review_name">
  </div>

  <div class="form-group">
    <label for="review_rating">Your rating (1-5):</label>
    <input name="review_rating" type="number" id="review_rating">
  </div>

  <div class="form-group">
    <label for="review_description">How Was Your Dining Experience?</label>
    <textarea name="review_description" type="text" id="review_description"></textarea>
  </div>

  <button class="btn btn-default" type="submit">Submit Review</button>
</form>
<button class="btn btn-default"><a href="/">Home</a></button>
